body {
    color: #000000;
    font-family: helvetica,sans-serif;
    font-size: 100%;
    line-height: 1.25;
    background-color: #fff;
}
body#container {
  background: #fff url(../images/mangrove.gif) no-repeat fixed right 130px;
}

#container{
    clear:both;
    padding: 50px 0;
}

.nav{
    padding: 25px 0 50px;
}

.nav pre{
    background: none repeat scroll 0 0 transparent;
    border-width: 0;
    float: right;
    padding: 5px 0 0;
    width: 42%;
    font-size: 36px;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-left: 20px;
}

.nav a,
.nav a:visited{
    color: #444444;
    text-decoration: none;
}

.nav p{
    font-size: 100px;
    letter-spacing: -6px;
}

p{
    color: #000000;
    font-family: 'georgia','bitstream vera serif',serif;
    font-size: 62px;
    line-height: 1;
    margin: 0 43% 0 0;
    padding: 0 60px 0 0;
    text-align: right;
}